﻿
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
/*
    // ========================================== \\
   ||                                              ||
   ||               My styles !                    ||
   ||                                              ||
    \\ ========vvvvvvvvvvvvvvvvvvvvvvvvvvvv====== //
*/

.jumptarget:before {
   content:"";
   display:block;
   height:60px;
   margin:-30px 0 0;
}
div{ position:relative; }
span.anchor { position:absolute; top:-200px;}
#fixedtop
{
    position: fixed;
    width: 100%;
    min-width: 240px;
    height: 120px;
    top: 0;
    background: #EEE url("../images/bg-fixedtop.png") repeat;
    color: #444;
    z-index: 1000;
    
    text-shadow: 1px 1px 1px #FFF;
    
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0px 0px 10px #000;
}

    #fixedtop #headercont
    {
        width: 80%;
        max-width: 980px;
        margin: 0 auto;
    }
    
        #fixedtop #headercont #headerleft
        {
            float: left;
            width: 125px;
        }
        
            #fixedtop #headercont #headerleft a img
            {
                width: 95px;
                margin: 15px 0 0 0;

                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }
            
            #fixedtop #headercont #headerleft a:hover img
            {
                opacity: 0.6;
            }
        
        #fixedtop #headercont #headerright
        {
            float: right;
        }
        
            /** Menu **/
            
                #fixedtop #headercont #headerright .menu select
                {
                    display: none;
                    font-family: inherit;
                }
                
                    @media (max-width: 768px)
                 {
                        #fixedtop #headercont #headerright .menu ul
                        {
                            display: none;
                        }
                        
                        #fixedtop #headercont #headerright .menu select
                        {
                            display: inline-block;
                            width: 100%;
                            text-transform: none;
                            font-family: inherit;
                        }
                    }
                    
                #fixedtop #headercont #headerright ul
                {
                    float: right;
                    margin: 80px 15px 0 0;
                }
            
                    #fixedtop #headercont #headerright ul li
                    {
                        display: inline;
                    }
                    
                        #fixedtop #headercont #headerright ul li a
                        {
                            float: left;
                            line-height: 40px;
                            padding: 0 12px;
                            font-weight: 400;
                            font-size: 16px;
                            text-decoration: none;
                            color: #333;
                            text-transform: uppercase;
                            font-family: "Archivo Narrow", Arial, Helvetica, sans-serif;
                        }
                        
                            #fixedtop #headercont #headerright ul li a:hover, #fixedtop #headercont #headerright ul li.active a
                            {
                                color: #F33;
                            }

#maincont
{
    width: 100%;
    min-width: 240px;
    margin-top: 120px;
}

    #maincont #main
    {
        width: 80%;
        max-width: 980px;
        margin: 0 auto;
        padding: 25px 0 0 0;
        line-height: 22px;
    }
    
        #maincont #main p { margin: 0 0 14px 0; }
        #maincont #main h1, #maincont #main h2, #maincont #main h3, #maincont #main h4, #maincont #main h5 {color: #303542; font-weight: normal; font-family: "Archivo Narrow", Arial, Helvetica, sans-serif; }
        #maincont #main h1 { font-size: 24px; line-height: 24px; }
        #maincont #main h2 { font-size: 22px; line-height: 22px; }
        #maincont #main h3 { font-size: 20px; line-height: 20px; }
        #maincont #main h4 { font-size: 18px; line-height: 18px; }
        #maincont #main h5 { font-size: 16px; line-height: 16px; }
        #maincont #main ul { margin: 0 0 15px 35px; list-style-type: square; }
        #maincont #main ul li { padding: 0 0 0 2px; }
        #maincont #main ol { margin: 0 0 15px 35px; list-style-type: decimal; }
        #maincont #main ol li { padding: 0 0 0 2px; }
        #maincont #main hr { clear: both; border: 0; height: 0; margin: 0 0 20px 0; border-top: 1px solid #000; border-bottom: 1px solid #222; }
        #maincont #main blockquote { background: #151515; border-left: 3px solid #E2761C; padding: 15px; margin: 0 0 15px 0; }

        /** Portfolio Styles **/

        #maincont #main #portfoliocont ul
        {
            list-style-type: none;
            margin: 0 0 25px 0;
        }
        
            #maincont #main #portfoliocont ul li
            {
                display: block;
                margin: 0 0 10px 0;
            }
            
                #maincont #main #portfoliocont ul li a
                {
                    position: relative;
                    float: left;
                    width: 23%;
                    margin: 0 1% 15px 1%;
                }
                
                    #maincont #main #portfoliocont ul li a img
                    {
                        width: 100%;
                        height: auto;
                        display: block;
                    }

                        #maincont #main #portfoliocont a .overlay
                        {
                            position: absolute;
                            height: 100%;
                            left: 0;
                            opacity: 0;
                            top: 0;
                            width: 100%;
                            z-index: 40;
                            
                            -webkit-transition: all 0.1s linear;
                            -moz-transition: all 0.1s linear;
                            -o-transition: all 0.1s linear;
                            transition: all 0.1s linear;
                        }
                        
                            #maincont #main #portfoliocont a .overlay.link
                            {
                                background: url("../images/overlay_link.png") no-repeat scroll center center, url("../images/overlay_bg.png") repeat scroll center center transparent;
                                display: inline-block;
                            }
                            
                                #maincont #main #portfoliocont a .overlay:hover
                                {
                                    opacity: 1;
                                }
                                
    /** Footer **/
            
    #maincont #footercont
    {
        width: 80%;
        max-width: 980px;
        margin: 0 auto;
        color: #777;
        line-height: 22px;
        font-size: 12px;
        text-align: left;
        text-shadow: 1px 1px 1px #000;
    }


/** Responsive Magic **/

@media screen and (max-width: 768px)
{
    
    #fixedtop #headercont
    {
        text-align: center;
    }
    
        #fixedtop #headercont #headerleft
        {
            float: none;
            width: 100%;
        }
        
            #fixedtop #headercont #headerleft a img
            {
                width: 100px;
                margin: 15px 0 10px 0;
            }
        
        #fixedtop #headercont #headerright
        {
            float: none;
            width: 100%;
        }
    
    #maincont #main
    {
        text-align: center;
    }
    
    #maincont #main #portfoliocont ul li a
    {
        width: 31.3%;
        margin-bottom: 10px;
    }
    
    #maincont #footercont
    {
        text-align: center;
    }

}

@media screen and (max-width: 480px)
{       
    
    #maincont #main #portfoliocont ul li a
    {
        width: 48%;
        margin-bottom: 6px;
    }
    
    #maincont #footercont
    {
        text-align: center;
    }
    
}

.var_name {font-weight:bold;margin-bottom:1.1em;}
td { text-align:center; }
table {width: auto;border: 1px #292d38 }
td, tr {border: 0}
.object_name{   
    padding: 5px;

    background-color: #292d38;
    color: white;
    
}

/*
    // ========^^^^^^^^^^^^^^^^^^^^^^^^^^^^======= \\
   ||                                              ||
   ||               My styles !                    ||
   ||                                              ||
    \\ ========================================== //
*/
/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2.5em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.8em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}



#container {
	padding: .5em;
}

.column {		
	width: 32%;
	float: left;
	margin: 0 5px;
}
.content-area {
	border: thin solid #ccc;	
	padding: 5px;	
	line-height: 1.5;	
}

pre.content-area, #result.content-area {
	overflow: hidden;
	overflow-y: auto;
}

pre {
	position: relative;
	top: -2px;
}

textarea {
	font: 1em 'consolas', 'andale mono', 'lucida console', monospace;	
	line-height: 1.5;	
	width: 98%;
	resize: vertical;
	border: none;
	outline: none;	
}

button {
	margin-top: 10px;
}

.feedback {
	padding: 0px 10px;
	line-height: 1.5;
}




.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}