<!DOCTYPE html>
<html>
<head>
<title>OrcaFlex Model HTML Documentation</title>
<meta charset="UTF-8">
<!--[if IE]><![endif]-->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
<script src="static/js/scripts.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="fixedtop" class="clearfix">
	<div id="headercont" class="clearfix">
    	<div id="headerleft">
        	<a title="" href="#"><img alt="" src="static/images/logo.png" /></a>
        </div>
    	</div>
</div>
<div id="maincont" class="clearfix">
    <div id="main">
    	<h1>OrcaFlex Model HTML Documentation Web App</h1>
        <p>This is a simple web application to view OrcaFlex text data files (.yml) in a browser.</p>
    	<hr />
        <div>            
            <h2>Upload a file or choose an example:</h2>
            <form id="yml_file" action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="myFile" /> 
            <select name="example_choice">
            <option value=""></option>
                {% for example in examples %}
            <option value="{{ example }}">{{ example|replace(".yml","") }}</option>
                {% endfor %}
            </select>
            <input type="submit" />
            </form>
            <span class="anchor" id="model_upload"></span>
            <div id="progress"></div>
            <div id="model_data"></div>
            
        </div>
    </div>    
</div>

</body>
</html>