{%- macro loop_dict(structure) -%}
        {% if structure is named %}
        <div class="object_name">
        <span class="var_name">Name</span>: <span class="value">{{ structure|popname }}</span><br />
        </div>
        {% endif %}
        {% for key in structure %}
        {% if structure[key] is a_value %}
            <span class="var_name">{{ key|uncamel }}</span>: <span class="value">{{ structure[key]|uncamel }}</span><br />
        {% elif structure[key] is a_vector %}
            <span class="var_name">{{ key|uncamel }}</span>: (<span class="value">{{ structure[key]|join(', ') }}</span>)<br />
        {% elif structure[key] is a_list %}
        {% if key|make_headers|length == 1 %}
        <br />
        <span class="var_name">{{ key|uncamel }}</span>:
        <hr />
        {% endif %}
            {{ loop_list(key, structure[key]) }}        
        {% elif structure[key] is a_dict %}
            {{ loop_dict(structure[key]) }}
        {% else %}
                <span class="var_name">{{ key|uncamel }}</span>: <span class="value">{{ structure[key]|uncamel }}</span><br />
        {% endif %}
        {%- endfor -%}
{%- endmacro -%}

{%- macro loop_list(key, sequence) -%}
    {% if sequence is a_table %}
    <table class="data_table">
        <tr>{%- for header in key|make_headers -%}<th>{{ header|uncamel }}</th>{%- endfor -%}</tr>
        {%- for row in sequence -%}
        <tr>{% for item in row %}<td>{{ item }}</td>{% endfor %}</tr>
        {% endfor %}
    </table>
    {% elif sequence is a_vector %}
        <span class="var_name">{{ key|uncamel }}</span>: (<span class="value">{{ sequence|join(', ') }}</span>)<br />
    {% else %}
        {% for element in sequence %}
            {% if element is a_dict %}
                {{ loop_dict(element) }}
            {% else %}
                 {{ element }}
            {% endif %}
            <hr />
        {% endfor %}
    {% endif %}
    
{%- endmacro -%}

<div id="accordion" class="content">
{%- for header in yml -%}
<div class="group">
<h4>{{ header|uncamel }}</h4>
<div>
    <p>
    {% if yml[header] is a_dict %}
    {{ loop_dict(yml[header]) }}
    {% elif yml[header] is a_list %}
    {{ loop_list(header, yml[header]) }}
    {% endif %}
    </p>
</div></div>
{%- endfor -%}
</div>
